* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(24, 17, 38);
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d68f1f;
    color: white;
    padding: 10px;
}

.navCenter ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navlink {
    cursor: pointer;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.container {
    height: 70vh;
}

.login-form {
    width: 40vw;
    margin: 30px auto;

}

input {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}

.login-details label {
    font-weight: bold;
}

.showpassword {
    gap: 10px;
}

#showpassword {
    margin: 0;
}

.formbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#signInButton {
    margin: 0;
    font-size: medium;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: rgb(10, 74, 157);
    color: white;
    text-decoration: none;
    cursor: pointer;

}

#signUpOption {
    font-size: medium;
    margin: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: rgb(8, 154, 8);
    color: white;
    text-decoration: none;
}


.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.item-between {
    align-items: space-between;
}

.justify-between {
    justify-content: space-between;
}